.header {
  display: flex;
  place-content: center;
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 1px solid grey;
}

.header > div {
  display: flex;
  place-content: space-between;
}
